#nav-container{
    display: flex;
    justify-content: space-between;
}

#content-container{
    margin: 1rem 2rem;
}

#options-container{
    font-size: 1.25rem;
}

.options-box{
    padding: 0.5rem 0;
}
.options-box button{
    border: 1px solid black;
    border-radius: 3px;
}

.input-box{
    width: 2rem;
    height: 1.5rem;
}

#button-container{
    margin: auto;
    padding: 0.5rem 0;
    text-align: center;
}
button#button-container{
    display: inline-block;
}