button{
        border-width: 0;
        background-color: inherit;
        border: 1px thick black;
}

li{
        padding: 0 1rem;
}

#home-img-container{
        position: absolute;
        text-align: center;
        margin: 3rem auto;
        width: 100%;
}
.blur-container{
        -webkit-filter: blur(7px);
        filter: blur(7px);
}

.my-4{
        position: fixed;
        top: 15%;
        left: 15%;
}
.my-5{
        font-size: 1.25rem;
}